/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border: 1px solid $color-border;
  background-color: $color-body;
  color: $color-body-text;
  max-width: 100%;
  line-height: 1.2;
  border-radius: 0;

  &:focus {
    // You should add some focus styles
  }

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }
}


label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  min-height: 110px;
}

/*================ Custom select style ================*/
select {
  @include prefix(appearance, none, webkit moz spec);
  background-position: right center;
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
  }
  line-height: 1.2;
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  padding-top: $input-padding-top-bottom-small;
  padding-left: $input-padding-left-right-small;
  padding-bottom: $input-padding-top-bottom-small;

  @include media-query($medium-up) {
    padding-top: $input-padding-top-bottom;
    padding-left: $input-padding-left-right;
    padding-bottom: $input-padding-top-bottom;
  }

  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}

/*================ Labels ================*/
.label--error {
  color: $color-error;
}

input,
textarea {
  padding: $input-padding-top-bottom-small $input-padding-left-right-small;

  @include media-query($medium-up) {
    padding: $input-padding-top-bottom $input-padding-left-right;
  }
}

/*================ Form feedback messages ================*/
.note,
.form--success,
.errors {
  padding: 1em;
  margin: 0 0 1em;
  font-size: $font-size-small;
}

.note {
  border: 1px solid $color-border;
}

.form--success {
  color: $color-success;
}

.errors {
  color: $color-error-input-text;

  // Shopify generates ul element
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: $color-error;
    text-decoration: underline;
  }
}
