.about-header {
  background-size: cover;
  background-position: center;
  padding-top: $phi * 2em;
  padding-bottom: $phi * 2em;
}

.about-header__title {
  color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: .6em;

  img {
    max-width: 400px;
    display: inline;
  }

}

.about-header__content {
  max-width: $width-site / $phi;
  margin-left: auto;
  margin-right: auto;
}
