// Parent container
.accordion {
  margin-bottom: $phi * 1em;
}

// Group == heading + body
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid $color-border;
}
.accordion-heading {
  border-bottom: 0;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: .5em 1em;
}

// General toggle styles
.accordion-toggle {
  cursor: pointer;
}

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
  padding: .5em 1em;
  border-top: 1px solid $color-border;
}
