.article-single__title {
  font-size: $font-size-h4;
  color: $color-secondary;
  margin: 0;

  @include media-query($medium-up) {
    font-size: $font-size-h3;
  }
}

.article-single__meta {
  color: $color-light-body-text;

  time {
    color: $color-primary;
  }
}

.article-single__tags {
  list-style: none;
  padding: 0;
  margin-top: $phi * 1em;
  font-size: $font-size-small;
  color: $color-primary;

  li {
    display: inline-block;
  }

  a {
    color: inherit;
  }

}
