.banners-list {
  padding-top: $phi * 2em;
  padding-bottom: $phi * 1em;
}

.banners-list__item {
  display: block;
  margin-bottom: $phi * 1em;

  &:hover {
    img {
      opacity: $opacity-link-hover;
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    display: block;
  }
}
