.blog-post {
  background: white;
  padding: $phi * 1em;

  figure {
    margin: 0;
    padding: 0;
    text-align: center;

    a {
      &:hover {
        opacity: $opacity-link-hover;
      }
    }
  }
}

.blog-post__title {
  color: $color-secondary;
  padding-bottom: $phi * .5em;
  border-bottom: 1px solid $color-border;
  margin-bottom: $phi * .5em;
  margin-top: $phi * .5em;
  text-align: center;
}

.blog-post__meta {
  margin-top: $phi * 1em;
  @include clearfix();
  font-size: $font-size-small;
  color: $color-light-body-text;
  margin-bottom: 0;

  a {
    float: right;
    text-transform: uppercase;
    color: $color-primary;
    &:hover {
      color: $color-secondary;
    }

    .icon {
      width: 1em;
      height: 1em;
    }
  }
}
