.collection-sidebar {

}

.collection-sidebar__headline {
  margin-top: 0;
  margin-bottom: .8em;
  line-height: 1.5;
  color: $color-secondary;
  text-transform: uppercase;
  font-size: $font-size-base;
}
