.comments {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  li {
    margin-bottom: $phi * 1em;
    color: $color-light-body-text;

    .rte + p {
      font-size: $font-size-small;
      color: $color-body-text;
    }
  }
}
