.hero-image {
  position: relative;

  .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.hero-image__content {
  color: white;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 0 1rem;
  right: 0;
  text-align: center;
  position: absolute;
  bottom: 16%;

  @include media-query($medium-up) {
    bottom: auto;
    @include vertical-align(absolute);
    left: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    right: auto;
  }

  h6 {
    color: inherit;
    font-family: $font-stack-header;
    font-size: $font-size-h1;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: $font-weight-normal;

    @include media-query($medium-up) {
      font-size: $font-size-giga;
    }

    @include media-query($large-up) {
      font-size: $font-size-tera;
    }
  }

  p {
    margin-top: $phi * 1em;
    margin-bottom: 0;

    @include media-query($large-up) {
      font-size: $font-size-h4;
    }

    strong {
      color: $color-primary;
    }
  }

  a {
    width: 100%;
    margin-top: $phi * 1rem;
    max-width: 16rem;
  }

}

.hero-image__content--light {
  color: white;
}

.hero-image__content--dark {
  color: $color-headlines;
}

.hero-image__content--center {
  @include media-query($medium-up) {
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-image__content--right {
  @include media-query($medium-up) {
    text-align: right;
    right: $gutter;
  }
}

.hero-image__content--left {
  @include media-query($medium-up) {
    left: $gutter;
    text-align: left;
  }
}
