.logo {
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.logo__link {
  line-height: normal;
}

.logo__link--image {
  line-height: 0;
  display: block;
}


.logo__image--alt {
  @include vertical-align(absolute);
  line-height: normal;
  height: 50px;
  left: $grid-gutter-mobile;

  @include media-query($medium-up) {
    position: static;
    @include prefix(transform, translate(0), webkit ms spec);
  }

  @include media-query($large-up) {
    display: none;
  }

  .site-header--sticky & {
    display: block;
  }
}

.logo__image {
  width: 100%;
  max-width: 100%;

  @include media-query($medium-down) {
    display: none;
  }

  .site-header--sticky & {
    display: none;
  }
}
