.logo {
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;

  a {
    display: block;
    line-height: normal;
  }
}


.logo__image-alt {
  @include vertical-align(absolute);
  line-height: normal;
  height: 50px;

  @include media-query($large-up) {
    display: none;
  }

  .site-header--sticky & {
    display: block;
  }
}

.logo__image {
  line-height: normal;

  @include media-query($medium-down) {
    display: none;
  }

  .site-header--sticky & {
    display: none;
  }
}
