.logo {
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;

  a {
    display: block;
    line-height: normal;
  }
}


.logo__image-alt {
  display: none;
  line-height: normal;
}

.logo__image {
  line-height: normal;
}
