.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
  vertical-align: top;

  &:last-child {
    > a {
      padding-right: 0;
    }
  }

  > a {
    display: block;
    padding: 1em;
    text-transform: uppercase;

    .site-header--sticky & {
      padding-bottom: $phi * 1em;
      padding-top: $phi * 1em;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  svg {
    vertical-align: top;
    width: 1em;
    margin-left: .5em;
  }

}

.menu__item--has-megamenu {
  @extend .menu__item;
}

.menu__item--has-children {
  position: relative;
  @extend .menu__item;

    > a {
      &:hover {
        color: $color-secondary;
      }
    }
}
