.mobile-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  @include media-query($large-up) {
    display: none;
  }
}

.mobile-nav__item {
  @include clearfix();

  .mobile-nav >& {
    border-bottom: 1px solid $color-border;
    >a {
      text-transform: uppercase;
      padding: $grid-gutter-mobile;
      &:hover {
        color: $color-primary;
        svg {
          fill: $color-primary;
        }
      }
      svg {
        fill: $color-secondary;
      }
    }
  }

  a {
    display: block;
    padding: .6em $grid-gutter-mobile;

    .icon-minus {
      display: none;
    }
  }

  span {
    float: right;
    position: relative;
    &:after {
      bottom: -1em;
      content: "";
      left: -1em;
      position: absolute;
      right: -1em;
      top: -1em;
    }
  }
}

.mobile-nav__item--active-child-menu,
.mobile-nav__item--active-grandchild-menu {
  >a {
    .icon-minus {
      display: inline-block;
    }
    .icon-plus {
      display: none;
    }
  }
}

.mobile-nav__child-menu,
.mobile-nav__grandchild-menu,
.mobile-nav__grant-grandchild-menu {
  list-style: none;
  padding-left: 0;
}

.mobile-nav__child-menu {
  max-height: 0;
  transition: all .3s ease;
  overflow: hidden;
  >.mobile-nav__item {
    border-top: 1px solid $color-border;
    > a {
      background: white;
      padding: $grid-gutter-mobile $grid-gutter-mobile $grid-gutter-mobile $grid-gutter-mobile * 2;
      color: $color-light-body-text;

      &:hover {
        color: $color-primary;

        svg {
          fill: $color-primary;
        }
      }

      svg {
        fill: $color-secondary;
      }
    }

  }

  .mobile-nav__item--active-child-menu & {
    max-height: $width-site;
  }
}

.mobile-nav__grandchild-menu {
  font-size: $font-size-small;
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
  >.mobile-nav__item {
    margin-top: 1em;
    margin-bottom: 1em;
    > a {
      color: $color-secondary;
      padding-left: $grid-gutter-mobile * 2;
      padding-right: $grid-gutter-mobile;
      text-transform: uppercase;
    }
  }

  .mobile-nav__item--active-grandchild-menu & {
    max-height: $width-site;
  }
}

.mobile-nav__grant-grandchild-menu {
  display: none;
  >.mobile-nav__item {
    >a {
      padding-left: $grid-gutter-mobile * 2;
    }
  }

  .mobile-nav__item--active-grandchild-menu & {
    display: block;
  }
}
