.nav-drawer {
  background: lighten($color-border, 3.5%);
  bottom: 0;
  overflow-y: scroll;
  position: fixed;
  right: -320px;
  top: 0;
  transition: all .3s ease;
  width: 320px;
  z-index: 1100;

  @include media-query($medium-up) {
    width: 380px;
    right: -380px;
  }

  @include media-query($large-up) {
    display: none;
  }
}

.nav-drawer--active {
  right: 0;
}

.nav-drawer__search {
  clear: both;
  position: relative;
  width: 100%;

  input {
    background: white;
    border: none;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-top: 1em;
    width: 100%;
    display: block;
    outline: none;
    box-sizing: border-box;
    padding-right: $grid-gutter-mobile;
    &:focus {
      color: $color-secondary;
      & + svg {
        fill: $color-secondary;
      }
    }
  }

  svg {
    @include vertical-align(absolute);
    left: 1em;
    fill: $color-light-body-text;
    width: 40px;
    height: 40px;
  }
}

.nav-drawer__close {
  float: right;
  padding-top: .95em;
  padding-bottom: .95em;
  padding-right: 1em;
  svg {
    fill: $color-light-body-text;
    width: 40px;
    height: 40px;
  }
}
