.panel {
  margin-bottom: 1em;
}

.panel-body {
  @include clearfix();
  padding-bottom: $phi * .5em;

  >p:first-child,
  >ul:first-child
  >h4:first-child,
  >h5:first-child {
    margin-top: 0;
  }
}

.panel-heading {
  border-top: 1px solid $color-border;
  text-transform: uppercase;
}

.panel-title {
  color: inherit;
  font-size: 1em;
  font-weight: $font-weight-normal;
  margin-bottom: 0;
  margin-top: 0;

  > a {
    color: inherit;
    display: block;
    position: relative;
    padding: $phi*.5em 0;

    &:after {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzAgMzAiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZmFjNmM5O308L3N0eWxlPjwvZGVmcz48dGl0bGU+bWVub3M8L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTIzLjIgMTUuOEg2LjhhLjguOCAwIDEgMSAwLTEuNmgxNi40Yy40LjEuOC40LjguOGEuODYuODYgMCAwIDEtLjguOHoiLz48L3N2Zz4=);
      background-position-y: center;
      background-repeat: no-repeat;
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      right: $phi * .5em;
      top: 0;
      width: $phi * 1em;
    }

    &.collapsed:after {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzAgMzAiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojNTZkM2NlO308L3N0eWxlPjwvZGVmcz48dGl0bGU+bWFzPC90aXRsZT48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xNS44IDE1LjhoNy40YS44LjggMCAwIDAgMC0xLjZoLTcuNFY2LjhhLjguOCAwIDAgMC0xLjYgMHY3LjRINi44YS44Ni44NiAwIDAgMC0uOC44IDEuNDIgMS40MiAwIDAgMCAuMi42Ljg1Ljg1IDAgMCAwIC42LjJoNy40djcuNGExLjQyIDEuNDIgMCAwIDAgLjIuNiAxLjQyIDEuNDIgMCAwIDAgLjYuMi44Ni44NiAwIDAgMCAuOC0uOHoiLz48L3N2Zz4=);
    }
  }

  .icon {
    fill: $color-secondary;
    width: 45px;
    height: 45px;
    margin-right: 1em;
  }

  .icon-directions {
    .cls-2 {
      opacity: .3;
    }
  }

  .icon-ingredients {
    .cls-1 {
      opacity: .3;
    }
  }

  .icon-details {
    .cls-1 {
      opacity: .3;
    }
  }
}

.panel {
  >.panel-collapse {
    margin-bottom: 0;
  }
}

.panel-group {
  margin-bottom: 1em;

  .panel {
    margin-bottom: 0;

    + .panel {
      //margin-top: 5px;
    }
  }

  .panel-heading {

    + .panel-collapse > .panel-body {
      //border-top: 1px solid $color-border;
      //border-bottom: 1px solid $color-border;
    }
  }
}

.panel-default {}
