.panel {
  margin-bottom: 1em;
}

.panel-body {
  @include clearfix();
  padding-bottom: $phi * .5em;

  >p:first-child,
  >ul:first-child
  >h4:first-child,
  >h5:first-child {
    margin-top: 0;
  }
}

.panel-heading {
  border-top: 1px solid $color-border;
  text-transform: uppercase;
}

.panel-title {
  color: inherit;
  font-size: 1em;
  font-weight: $font-weight-normal;
  margin-bottom: 0;
  margin-top: 0;

  > a {
    color: inherit;
    display: block;
    position: relative;
    padding: $phi*.5em 0;

    &:after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:{{ settings.color_primary | url_encode }};}%3C/style%3E%3C/defs%3E%3Ctitle%3Emenos%3C/title%3E%3Cpath class='cls-1' d='M23.2 15.8H6.8a.8.8 0 1 1 0-1.6h16.4c.4.1.8.4.8.8a.86.86 0 0 1-.8.8z'/%3E%3C/svg%3E");
      background-position-y: center;
      background-repeat: no-repeat;
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      right: $phi * .5em;
      top: 0;
      width: $phi * 1em;
    }

    &.collapsed:after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:{{ settings.color_secondary | url_encode }};}%3C/style%3E%3C/defs%3E%3Ctitle%3Emas%3C/title%3E%3Cpath class='cls-1' d='M15.8 15.8h7.4a.8.8 0 0 0 0-1.6h-7.4V6.8a.8.8 0 0 0-1.6 0v7.4H6.8a.86.86 0 0 0-.8.8 1.42 1.42 0 0 0 .2.6.85.85 0 0 0 .6.2h7.4v7.4a1.42 1.42 0 0 0 .2.6 1.42 1.42 0 0 0 .6.2.86.86 0 0 0 .8-.8z'/%3E%3C/svg%3E");
    }
  }

  .icon {
    fill: $color-secondary;
    width: 45px;
    height: 45px;
    margin-right: 1em;
  }

  .icon-directions {
    .cls-2 {
      opacity: .3;
    }
  }

  .icon-ingredients {
    .cls-1 {
      opacity: .3;
    }
  }

  .icon-details {
    .cls-1 {
      opacity: .3;
    }
  }
}

.panel {
  >.panel-collapse {
    margin-bottom: 0;
  }
}

.panel-group {
  margin-bottom: 1em;

  .panel {
    margin-bottom: 0;

    + .panel {
      //margin-top: 5px;
    }
  }

  .panel-heading {

    + .panel-collapse > .panel-body {
      //border-top: 1px solid $color-border;
      //border-bottom: 1px solid $color-border;
    }
  }
}

.panel-default {}
