.product-card {
  margin-bottom: $phi * 1em;
  text-align: center;

  .btn {
    width: 100%;
    max-width: 16rem;
  }
}

.product-card--list {
  text-align: left;

  .btn {
    max-width: none;
  }
}

.product-card__title {
  line-height: 1.2;
  max-width: 16em;
  margin-left: auto;
  margin-right: auto;

  @include media-query($medium-up) {
    font-size: $font-size-h4;
  }

  .product-card--list & {
    max-width: none;
  }
}

.product-card__price {
  font-weight: $font-weight-bold;
}

.product-card__image {
  display: block;
  position: relative;

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &:hover {
    img {
      opacity: $opacity-link-hover;
    }
  }
}

.product-card__quickview {
  @include vertical-align(absolute);
  max-width: 16em;
  display: none;
  background: rgba(white, .7);
  left: 1px;
  right: 1px;
  margin: 0 auto;
  border: 1px solid $color-primary;
  color: $color-body-text;
  cursor: pointer;

  .product-card--list & {
    background: transparent;
    display: block;
    max-width: none;
    position: static;
    border-color: transparent;
    @include prefix(transform, translate(0,0), webkit ms spec);
  }

  &:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .product-card__image:hover & {
    @include media-query($large-up) {
      display: block;
    }
  }

  .icon {
    fill: $color-primary;
    width: 41px;
    height: 41px;
  }
}

.product-card__footer {
  margin-top: $phi * 1em;
}
