.promo-bar {
  text-align: right;
  color: white;
  padding-top: .6em;
  padding-bottom: .6em;
  font-weight: $font-weight-bold;

  a {
    color: inherit;
  }

  .site-header--sticky & {
    display: none;
  }
}
