/*================ Site Header ================*/
.site-header {
  background: white;
  border-bottom: 1px solid $color-border;
  padding-top: $gutter / 1.618;
  position: relative;
}

.site-header__left {
  float: left;

  img {
    max-width: 100%;
  }
}

.site-header__right {
  float: right;
}
