/*================ Site Header ================*/
.site-header {
  background: white;
  box-shadow: inset 0 -1px 0 0 $color-border;
  position: relative;

  >.wrapper {
    @include media-query($small) {
      padding-left: 0;
      padding-right: 0;
    }

    @include media-query($medium-up) {
      display: table;
      width: 100%;
    }
  }
}

.site-header__left {
  @include clearfix();
  box-shadow: inset 0 -1px 0 0 $color-border;
  padding-left: $grid-gutter-mobile;
  padding-right: $grid-gutter-mobile;
  position: relative;

  @include media-query($small) {
    width: 100% !important;
  }


  @include media-query($medium-up) {
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    display: table-cell;
    vertical-align: middle;
  }

  span {
    float: right;
    display: block;
    cursor: pointer;
    padding-top: 1em;
    padding-bottom: 1em;

    @include media-query($medium-up) {
      display: none;
    }

    &:hover {
      svg {
        fill: $color-secondary;
      }
    }

    svg {
      width: 41px;
      height: 41px;
      fill: $color-light-body-text;
    }
  }

}

.site-header__right {
  @include media-query($medium-up) {
    display: table-cell;
    vertical-align: middle;
  }
}

.site-header--sticky {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 0;
  z-index: 100;
}

.site-header__search {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: inset 0 -1px 0 0 $color-border;
  display: none;
  padding-left: 1em;
  padding-right: 1em;

  @include media-query($medium-up) {
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    height: 100%;
    padding-bottom: $gutter / 2;
    padding-top: $gutter / 2;
    font-size: 0;
  }

  input {
    height: 100%;
    border: none;
    font-size: $font-size-h4;
    background: transparent;
    padding: 0;
    outline: none;
    vertical-align: middle;
    box-sizing: border-box;
  }

  input[type="search"] {
    width: calc(100% - 80px);
    padding-left: 20px;
    padding-right: 20px;
  }

  svg {
    width: 40px;
    height: 40px;
    fill: $color-light-body-text;
  }

  button {
    padding: 0;
    background: transparent;
    vertical-align: middle;
    border: none;

    &:hover,
    &:focus {
      background: transparent;
    }
  }

  a {
    display: inline-block;
    position: relative;

    &:after {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.site-header__search--active {
  display: block;
}
