.slick-next,
.slick-prev {
  @include vertical-align(absolute);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  border: none;
  font-size: 0;
  height: 40px;
  width: 40px;
  z-index: 10;

  &:hover,
  &:focus {
    opacity: $opacity-link-hover;
  }
}

.slick-next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxMiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+U2hhcGU8L3RpdGxlPjxwYXRoIGQ9Ik0xLjQ0IDIwYy0uMzU1LS4wMDItLjY3My0uMjE2LS44MS0uNTQ0LS4xMzQtLjMyNy0uMDYtLjcwNC4xOS0uOTU2bDguNS04LjUtOC41LTguNUMuNTI2IDEuMTUuNTQ4LjYzNC44Ny4zMWMuMzI0LS4zMjIuODQtLjM0NCAxLjE5LS4wNWw5LjEyIDkuMTJjLjM0LjM0My4zNC44OTcgMCAxLjI0bC05LjEyIDkuMTJjLS4xNjQuMTY1LS4zODcuMjYtLjYyLjI2eiIgZmlsbC1ydWxlPSJub256ZXJvIiBmaWxsPSIjQkRCREJEIi8+PC9zdmc+);
  right: 0;
  margin-right: -13px;
}

.slick-prev {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxMiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+U2hhcGU8L3RpdGxlPjxwYXRoIGQ9Ik0xMC41NiAwYy4zNTUuMDAyLjY3My4yMTYuODEuNTQ0LjEzNC4zMjcuMDYuNzA0LS4xOS45NTZMMi42OCAxMGw4LjUgOC41Yy4yOTQuMzUuMjcyLjg2Ni0uMDUgMS4xOS0uMzI0LjMyMi0uODQuMzQ0LTEuMTkuMDVMLjgyIDEwLjYyYy0uMzQtLjM0My0uMzQtLjg5NyAwLTEuMjRMOS45NC4yNmMuMTY0LS4xNjUuMzg3LS4yNi42Mi0uMjZ6IiBmaWxsLXJ1bGU9Im5vbnplcm8iIGZpbGw9IiNCREJEQkQiLz48L3N2Zz4=);
  left: 0;
  margin-left: -13px;
}

.slick-dots {
  position: absolute;
  bottom: $phi * 1em;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    display: inline-block;
    margin: 0 .5em;

    button {
      outline:none;
      font-size: 0;
      border: 1px solid $color-light-body-text;
      background: none;
      width: $phi * .5rem;
      height: $phi * .5rem;
      border-radius: 50%;

      &:hover,
      &:focus {
        opacity: $opacity-link-hover;
      }
    }

    &.slick-active {
      button {
        border-color: $color-primary;
      }
    }
  }

}
