<style>
  {% if section.settings.enable_description == false %}
    .collection-item__description {
      display: none;
    }
  {% endif %}
  .collections-list {
    background-color: {{ section.settings.background_color }};
    {% if section.settings.background_image != blank %}
      background-image: url({{ section.settings.background_image | img_url: '600x' }});
    {% endif %}
  }
</style>
<div class="collections-list">
  <div class="wrapper">

    {% if section.settings.title != blank %}
    <div class="section-header">
      <h2 class="section-header__title section-header__title--clean">{{ section.settings.title | escape }}</h2>
    </div>
    {% endif %}

    <div class="grid grid--uniform">
      {% for block in section.blocks limit: section.blocks.size %}
        <div class="grid__item medium--one-half large-up--one-third" {{ block.shopify_attributes }}>
          {%- assign collection = collections[block.settings.collection] -%}
          {% include 'collection-item' %}
        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fbfbfd"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "checkbox",
        "id": "enable_description",
        "label": "Enable descripton",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
