<div data-section-id="{{ section.id }}" data-section-type="featured-collection-section">
  <div class="featured-collection">
    <div class="wrapper">
      {% if section.settings.title != blank %}
        <div class="section-header">
          <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
        </div>
      {% endif %}

      {%- assign collection = collections[section.settings.collection] -%}

      <div id="FeaturedCollectionSlider-{{ section.id }}" class="grid featured-collection__slider">
        {% for product in collection.products limit: 6 %}
          <div class="grid__item">
            {% include 'product-grid-item' %}
          </div>
        {% else %}
          {% for i in (1..6) %}
            <div class="grid__item">
              {% include 'sample-product-card' %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
